.accordion {
  background-color: transparent;
}

.category-title {
  text-decoration: none !important;
}

.custom-checkbox .form-check-input {
  margin-right: 1rem;
}

.custom-checkbox .form-check-input:checked {
  background-color: #45dfb3;
}

.custom-checkbox {
  align-items: center;
  display: flex !important;
}

.custom-arrow.up {
  transform: rotate(180deg);
  transition-duration: 0.3s;
  transition-property: transform;
}
.custom-arrow.down {
  transform: rotate(0deg);
  transition-duration: 0.3s;
  transition-property: transform;
}
